<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
</head>

<body>

<link rel="stylesheet" href="normalize.css" type="text/css" media="all" />
<link rel="stylesheet" href="style.css" type="text/css" media="all" />

<h1>Activity report for {{config.project_name}}</h1>

<p>Map activity from  {{report.begin_date}} to {{report.end_date}}. View the map at <a href="{{config.project_url}}">{{config.project_url}}</a>.</p>

{{#with dataset.submission_sets.comments}}
  {{#created_between ../report.begin_date ../report.end_date}}

<p>{{length .}} comments between {{report "begin_date"}} and {{report "end_date"}}.</p>

<table>
<thead>
  <tr>
    <th>Date</th>
    <th>Asset class</th>
    <th>Comment type</th>
    <th>Comment</th>
    <th>Commenter</th>
    <th>Location name</th>
    <th>Address</th>
    <th>Asset</th>
  </tr>
</thead>

<tbody>

  {{#each .}}
  <tr>
    <!-- Comment information -->
    <td class="nobreak"><time datetime="{{created_datetime}}">{{format created_datetime "%d %b %Y"}}</time></td>
    <td>{{#with_place}}{{properties.location_type}}{{/with_place}}</td>
    <td>{{#if_equal comment-type "comment-type-issue"}}Issue{{/if_equal}}
      {{#if_equal comment-type "comment-type-correction"}}Correction{{/if_equal}}</td>
    <td>{{comment}}</td>
    <td>{{first_of submitter_name submitter.name}}</td>

    <!-- Place information -->
    {{#with_place}}
    <td class="nobreak"><a href="{{config "project_url"}}/place/{{id}}">{{properties.Name}}</a></td>
    <td class="nobreak"><a href="{{config "project_url"}}/place/{{id}}">{{properties.Address}}</a></td>
    <td class="nobreak">{{properties.ASSET}}</td>
    {{/with_place}}
  </tr>
  {{/each}}
  
</tbody>
</table>

  {{/created_between}}
{{/with}}

</body>
</html>
