<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
</head>

<body>
  <nav>
    <a href="#new-places">New Places</a> |
    <a href="#new-comments">New Comments</a>
  </nav>

  <section id="new-places">
  <h2>New Places</h2>
  {{#with dataset.places}}
    {{#created_between ../report.begin_date ../report.end_date}}
      {{#group_by_date "properties.created_datetime"}}

        <h3>Added on {{@key}}</h3>

        {{#each .}}
        <a href="{{config "project_url"}}/place/{{id}}">
          <div><b>Name: {{first_of properties.name properties.Name properties.NAME}}</b></div>
          <div>(Type: {{properties.location_type}})</div>
          
          <div>
          {{#if_any submitter.name submitter_name}}
            Submitted by {{first_of submitter.name submitter_name}}
          {{/if_any}}
          </div>

          <div>At {{format properties.created_datetime "%I:%M %p"}}</div>
        </a>
        {{/each}}

      {{/group_by_date}}
    {{/created_between}}
  {{/with}}
  </section>

  <section id="new-comments">
  <h2>New Comments</h2>
  {{#with dataset.submission_sets.comments}}
    {{#created_between ../report.begin_date ../report.end_date}}
      {{#group_by_date "created_datetime"}}

      <h3>{{@key}}</h3>

      {{#group_by "place"}}

        {{#with_place @key}}
        <a href="{{config "project_url"}}/place/{{id}}">
          <div><b>{{first_of properties.name properties.Name properties.NAME}}</b></div>
        </a>
        {{/with_place}}

        {{#sort_by "created_datetime"}}
          {{#each .}}
          <div>
            <div>Left at <time datetime="{{created_datetime}}">{{format created_datetime "%I:%M %p"}}</time></div>
            <div>By {{first_of submitter_name submitter.name "an anonumous user"}}
            <p>&quot;{{comment}}&quot; - (<a href="{{replace url "api/v2" "manage"}}/">manage</a>)</p>
          </div>
          {{/each}}
        {{/sort_by}}

      {{/group_by}}

      {{/group_by_date}}

    {{/created_between}}
  {{/with}}
  </section>
</body>
</html>